fastapi
uvicorn
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
sqlalchemy
loguru
python-jose[cryptography]
google-genai
langgraph
celery
redis
openai
tenacity
requests
python-multipart
alembic
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
